@page
@model CIDM3312_FINALPROJECT.Pages.Tickets.DetailsModel
@using CIDM3312_FINALPROJECT.Models

@{
    ViewData["Title"] = "Details";
}

<h1>Ticket Details</h1>

<dt class="col-sm-2">&nbsp;</dt> <!-- Add an empty dt element for spacing -->

<div>
    <dl class="row">
        <dt class="col-sm-2">Ticket ID:</dt>
        <dd class="col-sm-10">@Model.Ticket!.TicketID</dd>

        <dt class="col-sm-2">Status:</dt>
        <dd class="col-sm-10">@Model.Ticket.Status</dd>

        <dt class="col-sm-2">Priority:</dt>
        <dd class="col-sm-10">@Model.Ticket.Priority</dd>

        <dt class="col-sm-2">Type:</dt>
        <dd class="col-sm-10">@Model.Ticket.Type</dd>

        <dt class="col-sm-2">Description:</dt>
        <dd class="col-sm-10">@Model.Ticket.Description</dd>

        <dt class="col-sm-2">Ticket History:</dt>
        <dd class="col-sm-10">@Model.Ticket.TicketHistory</dd>

        <dt class="col-sm-2">Search Keywords:</dt>
        <dd class="col-sm-10">@Model.Ticket.Search</dd>

        <dt class="col-sm-2">Management: </dt>
        <dd class="col-sm-10">@Model.Ticket.Management</dd>

        <dt class="col-sm-2"> </dt>
        <dd class="col-sm-10"> </dd>

        <dt class="col-sm-2">Customer:</dt>
        <dd class="col-sm-10">
            <a asp-page="/Customers/Details" asp-route-id="@Model.Customer?.Id">@Model.Customer?.FirstName @Model.Customer?.LastName</a>
        </dd>

        <dt class="col-sm-2">Email:</dt>
        <dd class="col-sm-10">@Model.Customer?.Email</dd>

        <dt class="col-sm-2">Phone Number:</dt>
        <dd class="col-sm-10">@Model.Customer?.PhoneNumber</dd>

        <dt class="col-sm-2">Payment Method:</dt>
        <dd class="col-sm-10">@Model.Customer?.PaymentMethod</dd>
    </dl>
</div>

<p>
    <a asp-page="./Edit" asp-route-id="@Model.Ticket.TicketID">Edit</a>
    <a asp-page="./Delete" asp-route-id="@Model.Ticket.TicketID">Delete</a>
</p>
